In [5]:
import pandas as pd

input = pd.read_csv("items_to_q.csv")
df = pd.DataFrame(input)
df.drop(columns=["Unnamed: 0"], inplace=True)
df.insert(0, "In Queue", False)
start_df = df.copy()
df.describe()

            item_id   total_inv        cost       price  days_since_queued
count     90.000000   90.000000   90.000000   90.000000               90.0
mean   12655.922222   43.855556   69.689111   99.747778                0.0
std     2651.977126   47.699330  100.000422  119.448548                0.0
min     2810.000000    1.000000    3.000000    4.900000                0.0
25%    12123.500000   10.000000   24.470000   37.492500                0.0
50%    13457.500000   27.000000   48.930000   69.990000                0.0
75%    14493.250000   64.750000   76.185000  112.342500                0.0
max    15377.000000  285.000000  849.710000  939.990000                0.0

In [4]:
updated_df = df.copy()
updated_df.loc[0:79, "In Queue"] = True

updated_df.head(81)

    In Queue  item_id  total_inv    cost   price  days_since_queued
0       True    12258       73.0   35.80   59.99                  0
1       True    12850       15.0   88.00  114.99                  0
2       True    12261       13.0   21.06   33.74                  0
3       True    12262       76.0   29.23   47.49                  0
4       True    12851       35.0  150.00  189.99                  0
..       ...      ...        ...     ...     ...                ...
76      True    13141       10.0   85.00   99.99                  0
77      True    13459        7.0   86.19  112.46                  0
78      True     9547      144.0   57.95   79.99                  0
79      True     9549       51.0   82.28  111.99                  0
80     False     9546       31.0   51.22   74.99                  0

[81 rows x 6 columns]

In [ ]:
# Widget testing  
if 'name' not in state:
    state.name = ''

st.metric(label="Temperature", value=state.name)

def set_name(name):
    state.name = name
    
st.button('Boiling Temperature', on_click=set_name, args=['100 °C'])
st.button('Freezing Temperature', on_click=set_name, args=['0 °C'])
st.button('Clear Value', on_click=set_name, args=[''])